<!doctype html>
<html lang="en">
    <head>
        <title>Tracking my Projects</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Projects</h1>
                <p>
                    <a href="{% url 'create_project' %}">Create a new project</a>
                </p>
                {% if project_list|length == 0 %}
                    <p>
                        "You are not assigned to any projects"
                    </p>
                {% else %}
                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Number of tasks</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for apple in project_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' apple.pk %}">{{ apple.name }}</a>
                                    </td>
                                    <td>{{ apple.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                {% endif %}
            </table>
        </div>
    </main>
</body>
</html>
